.expandedNode {
    height: 100vh;
    width: 40vw;
    background: #848998;
    color: #fff;
    padding: 1.5rem;
    box-shadow: 5px 5px 5px rgb(128, 128, 128);
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}

.nodeTag {
    margin: 1rem;
    text-align: left;
}

.noNodeTag {
    margin: 1rem;
    text-align: left;
    font-weight: 300;
    color: #efefef;
}