.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
}

.expandedNode {
    height: 100vh;
    width: 40vw;
    background: #657cac;
    padding: 1.5rem;
}

.nodeTag {
    margin: 1rem;
    text-align: left;
}