.graph {
    height: 100vh;
    background: #FAF9FA;
    width: 57vw;
}

.rd3t-label__title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    color: #373737;
}

.node__root > circle {
  fill: rgb(19, 1, 69);
}

.node__branch > circle {
  fill: rgb(46, 0, 174);
}

.node__leaf > circle {
  fill: rgb(175, 181, 192);
  /* Let's also make the radius of leaf nodes larger */
}